.Spawn {
  --spawn-bg-x: calc(0px - var(--bg-double-block-size) * 16);
  --spawn-bg-y: calc(0px - var(--bg-double-block-size) * 6);

  width: var(--double-block-size);
  height: var(--double-block-size);
  background: black url("../../assets/images/sprite-big.png") no-repeat
    /* background-position */ var(--spawn-bg-x) var(--spawn-bg-y);
  background-size: var(--bg-sprite-size);
  animation: spawning .8s steps(3) forwards 3;

}

@keyframes spawning {
  50% {
    background-position-x: calc(var(--spawn-bg-x) - calc(3 * var(--bg-double-block-size)));
  }

  100% {
    background-position-x: var(--spawn-bg-x);
  }
}
