.Ice {
  --ice-bg-x: calc(0px - var(--bg-block-size) * 34);
  --ice-bg-y: calc(0px - var(--bg-block-size) * 8);
  width: var(--block-size);
  height: var(--block-size);
  background: black url("../../../assets/images/sprite-big.png") no-repeat
    /* background-position */var(--ice-bg-x) var(--ice-bg-y);
  background-size: var(--bg-sprite-size);
}
