.Grid {
  --grid-size: 0; /* we should set Grid Size via JavaScript */
  --grid-size-px: calc(var(--grid-size) * var(--block-size));

  width: var(--grid-size-px);
  height: var(--grid-size-px);
  box-shadow: 0 0 10px -4px;
  margin: 20px auto;
  position: relative;

  > * {
    position: absolute;
    left: 0;
    right: 0;
  }
}
