.Explosion {
  --explosion-bg-x: calc(0px - var(--bg-double-block-size) * 16);
  --explosion-bg-y: calc(0px - var(--bg-double-block-size) * 8);

  width: var(--double-block-size);
  height: var(--double-block-size);
  background: black url("../../assets/images/sprite-big.png") no-repeat
    /* background-position */ var(--explosion-bg-x) var(--explosion-bg-y);
  background-size: var(--bg-sprite-size);
  animation: explosion .8s steps(1) forwards;
}

@keyframes explosion {
  to {
    background-position-x: calc(var(--explosion-bg-x) - calc(2 * var(--bg-double-block-size)));
  }
}
