.TankSkeleton {
  width: var(--block-size);
  height: var(--block-size);
  background-size: var(--bg-sprite-size);
}

.EnemyTankSkeleton {
  --enemy-tank-skeleton-bg-x: calc(0px - var(--bg-double-block-size) * 40);
  --enemy-tank-skeleton-bg-y: calc(0px - var(--bg-double-block-size) * 24);
  background: black url("../../assets/images/sprite-big.png") no-repeat
              var(--enemy-tank-skeleton-bg-x) var(--enemy-tank-skeleton-bg-y);
}

.AllyTankSkeleton {
  --enemy-tank-skeleton-bg-x: calc(0px - var(--bg-double-block-size) * 47);
  --enemy-tank-skeleton-bg-y: calc(0px - var(--bg-double-block-size) * 18);
  background: black url("../../assets/images/sprite-big.png") no-repeat
  var(--enemy-tank-skeleton-bg-x) var(--enemy-tank-skeleton-bg-y);
}
